/*.sdf
/*.suo
/*.opensdf
*.user
/qt/qt-everywhere-opensource-src-5.7.0.zip
qt-everywhere-opensource-src-5.7.0
bin
build
ipch
/tools/qt_compiler/nbproject/private/
*.suo
*.opendb
/doc/doxygen_error.log
/doc/styled_qt_controls
temp
*.db-wal
*.db
*.db-shm
