QFrame#simple_frame
{
	qproperty-topline_color: @normal_highlight;
	background: solid @normal;
	border: 1px solid @border;
}

QWidget#simple_widget
{
	qproperty-topline_color: @normal_highlight;
	background: solid @normal;
	border: 1px solid @border;
}

QWidget#simple_controls_widget
{
	background: solid @normal;
}

QPushButton#grp_button2, QPushButton#grp_button3, QPushButton#grp_button4
{
	border-left: none;
}